.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .conectadoImage {
    width: 290%;
    max-width: 1300px;
    margin-bottom: 20px;
    height: 10%;
  }
  
  .gridContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gridImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  